.app-header {
    background: black;
    background: -moz-linear-gradient(45deg, black, rgba(0, 0, 0, 0.801) 100%);
    background: -webkit-linear-gradient(45deg, black, rgba(0, 0, 0, 0.801) 100%);
    background: linear-gradient(45deg, black, rgba(0, 0, 0, 0.801) 100%);
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.801));
}

.app-side {
    background: #2f2e2f !important;
}

.side-nav .bluemoonNav>li.selected>a {
    color: #ffffff;
    background: #f9d886;
    background: -moz-linear-gradient(45deg, #f9d886 0%, rgba(218, 165, 32, 0.719) 100%);
    background: -webkit-linear-gradient(45deg, #f9d886 0%, rgba(218, 165, 32, 0.719) 100%);
    background: linear-gradient(45deg, #f9d886 0%, rgba(218, 165, 32, 0.719) 100%);
}

.side-nav .bluemoonNav a {
    background: #2f2e2f;
}

.side-nav .bluemoonNav>li.selected .current-page {
    color: #ffffff;
    pointer-events: none;
    background: #951a5c;
    background: -moz-linear-gradient(45deg, #951a5c 0%, #66297f 100%);
    background: -webkit-linear-gradient(45deg, #951a5c 0%, #66297f 100%);
    background: linear-gradient(45deg, #951a5c 0%, #66297f 100%);
}

.side-nav .bluemoonNav a:active,
.side-nav .bluemoonNav a:focus,
.side-nav .bluemoonNav a:hover {
    color: #ffffff;
    background: #f9d886;
    background: -moz-linear-gradient(45deg, #f9d886 0%, rgba(218, 165, 32, 0.719) 100%);
    background: -webkit-linear-gradient(45deg, #f9d886 0%, rgba(218, 165, 32, 0.719) 100%);
    background: linear-gradient(45deg, #f9d886 0%, rgba(218, 165, 32, 0.719) 100%);
}

.main-footer {
    background: #000000;
    background: -moz-linear-gradient(45deg, black, rgba(0, 0, 0, 0.801) 100%);
    background: -webkit-linear-gradient(45deg, black, rgba(0, 0, 0, 0.801) 100%);
    background: linear-gradient(45deg, black, rgba(0, 0, 0, 0.801) 100%);
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.801));
    text-align: center;
}

.twenty-line {
    border: 2px solid green;
    width: 20%;
    float: left;
    display: block;
}

.intor-tital {
    font-size: 18px;
    font-style: italic;
}

.intor-tital:after {
    content: "";
    display: block;
    width: 7%;
    padding-top: 5px;
    border-bottom: 4px solid #951a5c;
    transition: 0.5s;
}

.form-group {
    margin-bottom: 0;
}

.line {
    padding: 20px 0px !important;
}

.table td,
.table th {
    font-size: 11px;
}

.margin-top-33 {
    margin-top: 33px;
}

.date-tab button,
.time-tab button {
    padding: 10px;
    margin: 5px;
    border-radius: 50rem;
}

.dateButton {
    background-color: #2faf75;
    margin: 5px;
    border: none;
    border: 1px solid #d1d1d1;
    color: #fff;
    border-radius: 5px;
}

.dateButton:hover {
    background-color: #a610a8;
    color: #fff;
    border: 1px solid #d1d1d1;
    transition: 0.2s;
}

.dateButton.active {
    background-color: #a610a8;
}

.timeButton {
    background-color: #2faf75;
    width: 90px;
    margin: 5px;
    border: none;
    border: 1px solid #d1d1d1;
    color: #fff;
    border-radius: 5px;
}

.timeButton:hover {
    background-color: #a610a8;
    color: #fff;
    border: 1px solid #d1d1d1;
    transition: 0.2s;
}

.color-palette ul {
    margin: 0;
    padding: 0;
}

.color-palette li {
    list-style: none;
    float: left;
    font-size: 12px;
    margin-right: 10px;
}

.color-palette li .current {
    width: 15px;
    height: 15px;
    background-color: #a610a8;
    display: flex;
    flex: row;
    float: left;
    margin-top: 1px;
    margin-right: 5px;
}

.color-palette li .active {
    width: 15px;
    height: 15px;
    background-color: #2faf75;
    display: flex;
    flex: row;
    float: left;
    margin-top: 1px;
    margin-right: 5px;
}

.color-palette li .disable {
    width: 15px;
    height: 15px;
    background-color: #b0adb0;
    display: flex;
    flex: row;
    float: left;
    margin-top: 1px;
    margin-right: 5px;
}

.color-palette li .time {
    width: 15px;
    height: 15px;
    background-color: #04a9b3;
    display: flex;
    flex: row;
    float: left;
    margin-top: 1px;
    margin-right: 5px;
}

.color-red {
    width: 2px;
    height: 2px;
    background-color: red;
    display: block;
}

.form-row .booking-list {
    width: 100%;
    display: inline;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 6px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-left: 4px solid #66297f;
    margin-bottom: 5px;
}

.form-row .booking-list:hover {
    background: #f9d886;
    display: block;
    color: #fff;
}

.form-row .booking-list:hover a {
    color: #fff;
}

.form-row .booking-list-completed {
    width: 100%;
    display: inline;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 6px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-left: 4px solid green;
    margin-bottom: 5px;
}

.form-row .booking-list-completed:hover {
    background: #f9d886;
    display: block;
    color: #fff;
}

.form-row .booking-list-completed:hover a {
    color: #fff;
}

.table td,
.table th {
    padding: 0.5rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.custom-heading {
    background: #951a5c;
    background: -moz-linear-gradient(45deg, #951a5c 0%, #66297f 100%);
    background: -webkit-linear-gradient(45deg, #951a5c 0%, #66297f 100%);
    background: linear-gradient(45deg, #951a5c 0%, #66297f 100%);
    background-image: linear-gradient(to right, #951a5c, #66297f);
}

.box {
    background: transparent !important;
    border: 1px solid #d1d1d1;
    text-align: center;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
}

.box:hover {
    box-shadow: 10px 10px 10px #888;
    border: none;
    border: 1px solid #66297f;
    cursor: pointer;
}

.display-none {
    display: none;
}

.notification {
    max-width: 380px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: auto;
    background: #f3f3f3;
    overflow: hidden;
}

.notification .top .top-left {
    width: 50%;
    padding: 10px;
    text-align: center;
    float: left;
    background: #4a0e32;
    color: #fff !important;
    border-top-left-radius: 10px;
    border-right: 1px solid #fff;
}

.notification .top .top-right {
    width: 50%;
    padding: 10px;
    text-align: center;
    float: left;
    background: #4a0e32;
    color: #fff !important;
    border-top-right-radius: 10px;
}

.notification .notification-body {
    text-align: center;
    min-height: 150px;
    display: block;
    padding-top: 78px;
}

.notification .notification-footer .left {
    width: 50%;
    padding: 10px;
    text-align: center;
    float: left;
    background: #ff0426;
    color: rgb(255, 255, 255) !important;
}

.notification .notification-footer .right {
    width: 50%;
    padding: 10px;
    text-align: center;
    float: left;
    background: #30b300;
    color: #fff !important;
}
